#login-box{
    width: 50%;
    height: auto;
    margin: 0 auto;
    margin-top: 10%;
    text-align: center;
    padding: 20px 50px;
}

#login-box h1{
    color: 	#808080;
    font-size: 30px;
}

#login-box .form .item{
    margin-top: 15px;
}


#login-box .form .item input{
    width: 300px;
    font-size: 18px;
    border: 0;
    border-bottom: 2px solid #fff;
    padding: 5px 10px;
    background: #ffffff00;
    color: #808080;
}
#login-box button{
    margin-top: 15px;
    width: 180px;
    height: 30px;
    font-size: 20px;
    font-weight: 400;
    color: #fff;
    border: 0;
    border-radius: 15px;
    background-image: linear-gradient(to right, rgb(255,45,0) 0%,rgb(157,20,1) 20%, rgb(59,0,2) 64%, rgb(41,0,14) 40%);
}